In [1]:
pwd

'C:\\Users\\go121\\practice_jupyter\\py\\데이터분석 및 시각화\\04 공공API'

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('./관광정보.csv')
print(df.shape)
df.head()

(1020, 23)

,Unnamed: 0,addr1,addr2,booktour,cat1,cat2,cat3,contentid,contenttypeid,createdtime,...,firstimage2,cpyrhtDivCd,mapx,mapy,mlevel,modifiedtime,areacode,sigungucode,tel,title
0,0,경기도 고양시 일산동구 중앙로 1271-1,(장항동),NaN,A02,A0208,A02081300,2702939,15,20210107024924,...,http://tong.visitkorea.or.kr/cms/resource/12/2...,Type3,126.772712,37.659540,6.0,20231130134626,31.0,2.0,031-8075-3003,고양시 트리니팅 프로젝트
1,1,부산광역시 수영구 광안해변로 219,(광안동),NaN,A02,A0208,A02081300,2786391,15,20211206222600,...,NaN,NaN,129.118551,35.153827,NaN,20240326113215,6.0,12.0,051-610-4882,광안리 M(Marvelous) 드론 라이트쇼
2,2,서울특별시 강북구 삼양로 561,(우이동),NaN,A02,A0208,A02081300,2592414,15,20190319004141,...,http://tong.visitkorea.or.kr/cms/resource/20/2...,Type3,127.012288,37.653078,6.0,20240315094017,1.0,3.0,02-901-6213,"근현대사 추리여행, '사라진 열쇠를 찾아라'"
3,3,충청남도 서천군 금강로 1210,NaN,NaN,A02,A0208,A02080500,2950881,15,20230228160055,...,http://tong.visitkorea.or.kr/cms/resource/63/2...,Type3,126.719458,36.027135,6.0,20230914141747,34.0,8.0,041-950-5953,동물의 몸속에 기계가 있어요
4,4,경기도 수원시 영통구 광교중앙로 140 수원컨벤션센터,NaN,NaN,A02,A0208,A02080600,2930685,15,20220928161732,...,NaN,NaN,127.059463,37.285880,6.0,20240731070936,31.0,13.0,NaN,마이펫페어 수원

In [6]:
df2 = pd.read_excel('./한국관광공사_국문_서비스분류코드_v4.2.xlsx', header=4, usecols=[3,4,5,6])
df.head()

,Unnamed: 0,addr1,addr2,booktour,cat1,cat2,cat3,contentid,contenttypeid,createdtime,...,firstimage2,cpyrhtDivCd,mapx,mapy,mlevel,modifiedtime,areacode,sigungucode,tel,title
0,0,경기도 고양시 일산동구 중앙로 1271-1,(장항동),NaN,A02,A0208,A02081300,2702939,15,20210107024924,...,http://tong.visitkorea.or.kr/cms/resource/12/2...,Type3,126.772712,37.659540,6.0,20231130134626,31.0,2.0,031-8075-3003,고양시 트리니팅 프로젝트
1,1,부산광역시 수영구 광안해변로 219,(광안동),NaN,A02,A0208,A02081300,2786391,15,20211206222600,...,NaN,NaN,129.118551,35.153827,NaN,20240326113215,6.0,12.0,051-610-4882,광안리 M(Marvelous) 드론 라이트쇼
2,2,서울특별시 강북구 삼양로 561,(우이동),NaN,A02,A0208,A02081300,2592414,15,20190319004141,...,http://tong.visitkorea.or.kr/cms/resource/20/2...,Type3,127.012288,37.653078,6.0,20240315094017,1.0,3.0,02-901-6213,"근현대사 추리여행, '사라진 열쇠를 찾아라'"
3,3,충청남도 서천군 금강로 1210,NaN,NaN,A02,A0208,A02080500,2950881,15,20230228160055,...,http://tong.visitkorea.or.kr/cms/resource/63/2...,Type3,126.719458,36.027135,6.0,20230914141747,34.0,8.0,041-950-5953,동물의 몸속에 기계가 있어요
4,4,경기도 수원시 영통구 광교중앙로 140 수원컨벤션센터,NaN,NaN,A02,A0208,A02080600,2930685,15,20220928161732,...,NaN,NaN,127.059463,37.285880,6.0,20240731070936,31.0,13.0,NaN,마이펫페어 수원

In [8]:
res_df = pd.merge(df,df2,left_on='cat3',right_on='소분류 (cat3)', how='left')
res_df.columns

Index(['Unnamed: 0', 'addr1', 'addr2', 'booktour', 'cat1', 'cat2', 'cat3',
       'contentid', 'contenttypeid', 'createdtime', 'eventstartdate',
       'eventenddate', 'firstimage', 'firstimage2', 'cpyrhtDivCd', 'mapx',
       'mapy', 'mlevel', 'modifiedtime', 'areacode', 'sigungucode', 'tel',
       'title', '소분류 (cat3)', '대분류', '중분류', '소분류'],
      dtype='object')

In [9]:
res_df[['cat3', '소분류 (cat3)']]

           cat3 소분류 (cat3)
0     A02081300  A02081300
1     A02081300  A02081300
2     A02081300  A02081300
3     A02080500  A02080500
4     A02080600  A02080600
...         ...        ...
1015  A02070200  A02070200
1016  A02070200  A02070200
1017  A02070200  A02070200
1018  A02070200  A02070200
1019  A02070200  A02070200

[1020 rows x 2 columns]

In [10]:
res_df.head()

,Unnamed: 0,addr1,addr2,booktour,cat1,cat2,cat3,contentid,contenttypeid,createdtime,...,mlevel,modifiedtime,areacode,sigungucode,tel,title,소분류 (cat3),대분류,중분류,소분류
0,0,경기도 고양시 일산동구 중앙로 1271-1,(장항동),NaN,A02,A0208,A02081300,2702939,15,20210107024924,...,6.0,20231130134626,31.0,2.0,031-8075-3003,고양시 트리니팅 프로젝트,A02081300,인문(문화/예술/역사),공연/행사,기타행사
1,1,부산광역시 수영구 광안해변로 219,(광안동),NaN,A02,A0208,A02081300,2786391,15,20211206222600,...,NaN,20240326113215,6.0,12.0,051-610-4882,광안리 M(Marvelous) 드론 라이트쇼,A02081300,인문(문화/예술/역사),공연/행사,기타행사
2,2,서울특별시 강북구 삼양로 561,(우이동),NaN,A02,A0208,A02081300,2592414,15,20190319004141,...,6.0,20240315094017,1.0,3.0,02-901-6213,"근현대사 추리여행, '사라진 열쇠를 찾아라'",A02081300,인문(문화/예술/역사),공연/행사,기타행사
3,3,충청남도 서천군 금강로 1210,NaN,NaN,A02,A0208,A02080500,2950881,15,20230228160055,...,6.0,20230914141747,34.0,8.0,041-950-5953,동물의 몸속에 기계가 있어요,A02080500,인문(문화/예술/역사),공연/행사,전시회
4,4,경기도 수원시 영통구 광교중앙로 140 수원컨벤션센터,NaN,NaN,A02,A0208,A02080600,2930685,15,20220928161732,...,6.0,20240731070936,31.0,13.0,NaN,마이펫페어 수원,A02080600,인문(문화/예술/역사),공연/행사,박람회

In [11]:
res_df.isnull().sum()

Unnamed: 0           0
addr1                1
addr2              586
booktour          1020
cat1                 0
cat2                 0
cat3                 0
contentid            0
contenttypeid        0
createdtime          0
eventstartdate       0
eventenddate         0
firstimage          28
firstimage2         28
cpyrhtDivCd         27
mapx                 0
mapy                 0
mlevel               5
modifiedtime         0
areacode             1
sigungucode          1
tel                  4
title                0
소분류 (cat3)           0
대분류                  0
중분류                  0
소분류                  0
dtype: int64

In [12]:
res_df.groupby(['중분류','소분류'])['cat1'].count()

중분류    소분류
공연/행사  기타행사       89
       뮤지컬         1
       박람회        14
       스포츠경기       2
       연극          6
       영화         10
       전시회        14
       전통공연        4
축제     문화관광축제     47
       일반축제      833
Name: cat1, dtype: int64

In [13]:
res_df.head()

,Unnamed: 0,addr1,addr2,booktour,cat1,cat2,cat3,contentid,contenttypeid,createdtime,...,mlevel,modifiedtime,areacode,sigungucode,tel,title,소분류 (cat3),대분류,중분류,소분류
0,0,경기도 고양시 일산동구 중앙로 1271-1,(장항동),NaN,A02,A0208,A02081300,2702939,15,20210107024924,...,6.0,20231130134626,31.0,2.0,031-8075-3003,고양시 트리니팅 프로젝트,A02081300,인문(문화/예술/역사),공연/행사,기타행사
1,1,부산광역시 수영구 광안해변로 219,(광안동),NaN,A02,A0208,A02081300,2786391,15,20211206222600,...,NaN,20240326113215,6.0,12.0,051-610-4882,광안리 M(Marvelous) 드론 라이트쇼,A02081300,인문(문화/예술/역사),공연/행사,기타행사
2,2,서울특별시 강북구 삼양로 561,(우이동),NaN,A02,A0208,A02081300,2592414,15,20190319004141,...,6.0,20240315094017,1.0,3.0,02-901-6213,"근현대사 추리여행, '사라진 열쇠를 찾아라'",A02081300,인문(문화/예술/역사),공연/행사,기타행사
3,3,충청남도 서천군 금강로 1210,NaN,NaN,A02,A0208,A02080500,2950881,15,20230228160055,...,6.0,20230914141747,34.0,8.0,041-950-5953,동물의 몸속에 기계가 있어요,A02080500,인문(문화/예술/역사),공연/행사,전시회
4,4,경기도 수원시 영통구 광교중앙로 140 수원컨벤션센터,NaN,NaN,A02,A0208,A02080600,2930685,15,20220928161732,...,6.0,20240731070936,31.0,13.0,NaN,마이펫페어 수원,A02080600,인문(문화/예술/역사),공연/행사,박람회

In [16]:
res_df[res_df['addr1'].isnull()].T

                                                              808
Unnamed: 0                                                    808
addr1                                                         NaN
addr2                                                    서울시 영등포구
booktour                                                      NaN
cat1                                                          A02
cat2                                                        A0208
cat3                                                    A02081300
contentid                                                 2816278
contenttypeid                                                  15
createdtime                                        20220414153345
eventstartdate                                           20240325
eventenddate                                             20241031
firstimage      http://tong.visitkorea.or.kr/cms/resource/34/3...
firstimage2     http://tong.visitkorea.or.kr/cms/resource/34/3...
cpyrhtDivCd                                                 Type3
mapx                                                          0.0
mapy                                                          0.0
mlevel                                                        6.0
modifiedtime                                       20240320093833
areacode                                                      1.0
sigungucode                                                  20.0
tel                                                  02-6964-7597
title                                                 영등포 관광세일페스타
소분류 (cat3)                                              A02081300
대분류                                                  인문(문화/예술/역사)
중분류                                                         공연/행사
소분류                                                          기타행사

In [17]:
res_df['areacode'].value_counts()

areacode
1.0     192
31.0    152
6.0      81
37.0     73
34.0     71
32.0     68
35.0     66
38.0     50
2.0      50
36.0     48
4.0      38
39.0     37
3.0      29
33.0     23
5.0      16
7.0      15
8.0      10
Name: count, dtype: int64

In [18]:
res_df[res_df['areacode'].isnull()]

,Unnamed: 0,addr1,addr2,booktour,cat1,cat2,cat3,contentid,contenttypeid,createdtime,...,mlevel,modifiedtime,areacode,sigungucode,tel,title,소분류 (cat3),대분류,중분류,소분류
453,453,세종특별자치시 전동면 신송로 217,NaN,NaN,A02,A0207,A02070200,3357315,15,20240830164002,...,6.0,20240830165319,NaN,NaN,044-866-7766,베어트리파크 분재전,A02070200,인문(문화/예술/역사),축제,일반축제

In [19]:
res_df.columns

Index(['Unnamed: 0', 'addr1', 'addr2', 'booktour', 'cat1', 'cat2', 'cat3',
       'contentid', 'contenttypeid', 'createdtime', 'eventstartdate',
       'eventenddate', 'firstimage', 'firstimage2', 'cpyrhtDivCd', 'mapx',
       'mapy', 'mlevel', 'modifiedtime', 'areacode', 'sigungucode', 'tel',
       'title', '소분류 (cat3)', '대분류', '중분류', '소분류'],
      dtype='object')

In [23]:
res_df.groupby(['areacode', 'sigungucode'])['cat1'].count()

areacode  sigungucode
1.0       1.0             9
          2.0             2
          3.0             8
          4.0             4
          5.0             7
                         ..
38.0      21.0            2
          22.0            1
          23.0            2
39.0      3.0            14
          4.0            23
Name: cat1, Length: 211, dtype: int64

In [24]:
res_df.head()

,Unnamed: 0,addr1,addr2,booktour,cat1,cat2,cat3,contentid,contenttypeid,createdtime,...,mlevel,modifiedtime,areacode,sigungucode,tel,title,소분류 (cat3),대분류,중분류,소분류
0,0,경기도 고양시 일산동구 중앙로 1271-1,(장항동),NaN,A02,A0208,A02081300,2702939,15,20210107024924,...,6.0,20231130134626,31.0,2.0,031-8075-3003,고양시 트리니팅 프로젝트,A02081300,인문(문화/예술/역사),공연/행사,기타행사
1,1,부산광역시 수영구 광안해변로 219,(광안동),NaN,A02,A0208,A02081300,2786391,15,20211206222600,...,NaN,20240326113215,6.0,12.0,051-610-4882,광안리 M(Marvelous) 드론 라이트쇼,A02081300,인문(문화/예술/역사),공연/행사,기타행사
2,2,서울특별시 강북구 삼양로 561,(우이동),NaN,A02,A0208,A02081300,2592414,15,20190319004141,...,6.0,20240315094017,1.0,3.0,02-901-6213,"근현대사 추리여행, '사라진 열쇠를 찾아라'",A02081300,인문(문화/예술/역사),공연/행사,기타행사
3,3,충청남도 서천군 금강로 1210,NaN,NaN,A02,A0208,A02080500,2950881,15,20230228160055,...,6.0,20230914141747,34.0,8.0,041-950-5953,동물의 몸속에 기계가 있어요,A02080500,인문(문화/예술/역사),공연/행사,전시회
4,4,경기도 수원시 영통구 광교중앙로 140 수원컨벤션센터,NaN,NaN,A02,A0208,A02080600,2930685,15,20220928161732,...,6.0,20240731070936,31.0,13.0,NaN,마이펫페어 수원,A02080600,인문(문화/예술/역사),공연/행사,박람회